<form ng-submit="shoppingEditCtrl.saveShopping()">
    <div class="form-group">
        <label>
            Make your Shopping List
        </label>
        <textarea rows="6" cols="20"
            ng-model="shoppingEditCtrl.editedShopping.name"
            class="form-control"
        ></textarea>
    
    <div class="form-group">
        <label>
            Price
        </label>
        <input type ="number"
            ng-model="shoppingEditCtrl.editedShopping.price"
            class="form-control" 
        ></input>

    <div class="form-group">
        <label>
            Qty
        </label>
        <input type ="number"
            ng-model="shoppingEditCtrl.editedShopping.qty"
            class="form-control" 
        ></input>
    
    </div>
    
    <button class="btn btn-primary" type="submit">
        Save shopping list
    </button>


    <button
        class="btn btn-danger"
        type="button"
        ng-show="shoppingEditCtrl.cancel"
        ng-click="shoppingEditCtrl.cancel()">
        Cancel
    </button>
    
</form>