<form ng-submit="shoppingEditCtrl.saveShopping()">
    <div class="form-group">
        <label>
            Make your Shopping List
        </label>
        <textarea 
            ng-model="shoppingEditCtrl.editedShopping.name"
            class="form-control"
        ></textarea>
    </div>
    <button class="btn btn-primary" type="submit">
        Save shopping list
    </button>
</form>

<button
        class="btn btn-danger"
        type="button"
        ng-show="shoppingEditCtrl.cancel"
        ng-click="shoppingEditCtrl.cancel()">
        Cancel
    </button>
</form>