body {
    overflow-x: hidden;
    background-color: lightblue;
}

flashes {
    display: block !important;
    position: fixed;
    bottom: 0;
    z-index: 20000;
}

.sups-item .panel-footer {
    min-height: 55px;
}

flashes .alert.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(-200px, 0);
}

flashes .alert.ng-enter-active {
  transform: translate(0, 0);
}

flashes .alert.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

flashes .alert.ng-leave-active {
    transform: translate(-200px, 0);
}

shopping-item {
    display: block !important;
}

shopping-item.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(0, -1000%);
}

shopping-item.ng-enter-active {
  transform: translate(0, 0);
}

shopping-item.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

shopping-item.ng-leave-active {
    transform: translate(100%, 0);
}